@font-face {
  font-family: "SUIT Variable";
  font-weight: normal;
  src: url("./fonts/SUIT-Variable-woff2/SUIT-Variable.woff2") format("woff2-variations");
}

body,
body * {
  margin: 0;
  padding: 0;
  font-family: "SUIT Variable" !important;

  ul {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}

// @mixin general {
//   font-family: "Noto Sans KR", sans-serif;
//   font-weight: normal;
//   src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap") format("woff2");

//   body * {
//     margin: 0;
//     padding: 0;
//   }

//   li {
//     list-style: none;
//   }

//   a {
//     text-decoration: none;
//   }
// }
